<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/world.min.js}"></script>
    <script th:src="@{/js/ecStat.js}"></script>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

    <div layout:replace="~{fragments/header :: headerFragment}"></div>
    <div layout:fragment="content"></div>
    <div layout:replace="~{fragments/footer :: footerFragment}"></div>

</body>
</html>