<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/Common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/leaflet.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/leaflet.timedimension.control.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/L.Control.Locate.min.css}">
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/leaflet.js}"></script>
    <script th:src="@{/js/leaflet.timedimension.js}"></script>
    <script th:src="@{/js/leaflet.timedimension.control.js}"></script>
    <script th:src="@{/js/leaflet.timedimension.util.js}"></script>
    <script th:src="@{/js/leaflet.timedimension.layer.js}"></script>
    <script th:src="@{/js/leaflet.timedimension.layer.wms.js}"></script>
    <script th:src="@{/js/leaflet.timedimension.layer.geojson.js}"></script>
    <script th:src="@{/js/leaflet.timedimension.player.js}"></script>
    <script th:src="@{/js/iso8601.min.js}"></script>
    <script th:src="@{/js/L.Control.Locate.min.js}"></script>
<!--    <script th:src="@{/js/heatmap.js}"></script>-->
<!--    <script th:src="@{/js/leaflet-heatmap.js}"></script>-->

    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
    <div layout:replace="~{fragments/header :: headerFragment}"></div>
    <div layout:fragment="content"></div>
    <div layout:replace="~{fragments/footer :: footerFragment}"></div>
</body>
</html>