@charset "UTF-8";

/* ------------header&footer------------ */
/* 사이드바 */
.header {
    background-color: darkcyan;
    width: 100%;
    height: 10%;
}

.footer {
    margin-bottom: 10px;
    background-color: #0c5460;
    width: 100%;
    height: 10%;
}

/* 사이드바-타이틀 */
.menuTitle {
    color: aliceblue;
    margin: 10px;
    font-size: 22px;
    font-weight: 600;
}

/* 사이드바-메뉴그룹 */
.menuContents {
    color: aliceblue;
    margin-left: 20px;
}

/* 사이드바-메뉴 */
.btn-contents {
    margin-bottom: 5px;
}
/* ------------header&footer------------ */

/* -----------메인콘텐츠------------ */
/* 메인 콘텐츠 */
.container {
    min-height: 600px;
    height: 100%;
}

/* 메인 타이틀 */
.main-title {
    font-weight: bold;
}

/* 로딩바 */
.loading-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.55) url(/img/loading.gif) no-repeat center center;
    z-index: 10000;
}

/* 차트 */
.chartArea {
    height: 500px;
    padding: 20px;
}

/* 검색조건 파트 */
.search-title {
    padding-right: 10px;
    padding-top: 3px;
    font-size: large;
    font-weight: bold;
}
/* -----------메인콘텐츠------------ */