@charset "UTF-8";

/* ------------header&footer------------ */
/* header */
.header {
    background-image: url(/img/rain_top0.jpg);
    background-size: cover;
}

.header .header-sub {
    display: table;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 200px;
}

.header .header-sub .text {
    display: table-cell;
    vertical-align: middle;
}

.header .header-sub .text h3 {
    font-size:38px;
    color:#ffffff;
    letter-spacing:-0.025em;
    font-weight:700;
    text-shadow: 2px 2px 6px gray;
}

/* footer */
.footer {
    position: relative;
    width: 100%;
    background: #87bedb;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/img/wave.png);
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }
    100% {
        background-positon-x: 0px;
    }
}

/* ------------header&footer------------ */

/* -----------메인콘텐츠------------ */
/* 메인 콘텐츠 */
.container {
    min-height: 600px;
    height: 100%;
}

.resultArea {
    margin-bottom: 10px;
}

/* 현재시각 */
.naviArea {
    width: 100%;
    height: 80px;
    display: table;
    position: relative;
}

.naviArea .timeArea {
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    line-height: 24px;
}

.naviArea .timeArea .nowTime {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.naviArea .timeArea .nowTime span {
    font-size:20px;
    font-weight:600;
    vertical-align: middle;
}

/* 로딩바 */
.loading-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.55) url(/img/loading.gif) no-repeat center center;
    z-index: 10000;
}

.resultArea {
    height: 100%;
}

/* 지도 */
.mapArea {
    width: 100%;
    height: 700px;
    background-color: #c69500;
    /*float: left;*/
}

.mapAreaMobile {
    width: 100%;
    height: 700px;
    background-color: #c69500;
}

/* 차트 */
.infoArea {
    width: 30%;
    height: 700px;
    padding-left: 20px;
    background-color: #ffffff;
    display: inline-block;
}

.infoAreaMobile {
    width: 100%;
    height: 700px;
    padding: 20px;
    background-color: #ffffff;
}

.chartArea {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.tableArea {
    width: 100%;
    height: 300px;
    background-color: #fff3cd;
    margin-bottom: 10px;
}

.mapControl {
    width: 100%;
    height: 110px;
    display: inline-block;
    background-color: #244aa8;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 8px rgb(0 0 0 / 10%);
    box-shadow: 2px 4px 8px rgb(0 0 0 / 10%);
    padding: 15px;
    margin-bottom: 50px;
}

/*Legend specific*/
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 24px;
    color: #555;
}
.legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
}

.legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
}

.blank {
    width: 100%;
    height: 110px;
}

/* -----------메인콘텐츠------------ */
