@charset "UTF-8";

/* ------------header&footer------------ */
/* header */
.header {
    background-image: url(/img/rain_top0.jpg);
    background-size: cover;
}

.header .header-sub {
    display: table;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 200px;
}

.header .header-sub .text {
    display: table-cell;
    vertical-align: middle;
}

.header .header-sub .text h3 {
    font-size:38px;
    color:#ffffff;
    letter-spacing:-0.025em;
    font-weight:700;
    text-shadow: 2px 2px 6px gray;
}

/* footer */
.footer {
    margin-bottom: 10px;
    background-color: #0c5460;
    width: 100%;
    height: 100%;
}

/* ------------header&footer------------ */

/* -----------메인콘텐츠------------ */
/* 메인 콘텐츠 */
.container {
    min-height: 600px;
    height: 100%;
}

/* 현재시각 */
.naviArea {
    width: 100%;
    height: 80px;
    display: table;
    position: relative;
}

.naviArea .timeArea {
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    line-height: 24px;
}

.naviArea .timeArea .nowTime {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.naviArea .timeArea .nowTime span {
    font-size:20px;
    font-weight:600;
    vertical-align: middle;
}

/* 로딩바 */
.loading-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.55) url(/img/loading.gif) no-repeat center center;
    z-index: 10000;
}

/* 지도 */
.mapArea {
    width: 70%;
    height: 700px;
    background-color: #c69500;
    float: left;
}

.mapAreaMobile {
    width: 100%;
    height: 700px;
    background-color: #c69500;
}

/* 차트 */
.infoArea {
    width: 30%;
    height: 700px;
    padding: 20px;
    background-color: #5a6268;
    display: inline-block;
}

.infoAreaMobile {
    width: 100%;
    height: 700px;
    padding: 20px;
    background-color: #5a6268;
}

/* 검색조건 파트 */
.search-title {
    padding-right: 10px;
    padding-top: 3px;
    font-size: large;
    font-weight: bold;
}
/* -----------메인콘텐츠------------ */