<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/Monitoring.js}"></script>
    <title>강수량 모니터링</title>
</head>
<body>

<div id="content" layout:fragment="content" class="container-fluid">
    <h3 id="title" th:text="${title}">테스트</h3>
    <div id="resultArea" class="resultArea">
        <div id="mapArea" class="mapArea"></div>
        <div id="infoArea" class="infoArea"></div>
    </div>
    <div id="loading" class="loading-bar"></div>
</div>

</body>
</html>