<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/Monitoring.js}"></script>
    <title>강수량 모니터링</title>
</head>
<body>

<div id="content" layout:fragment="content" class="container-fluid">
    <form role="form" id="searchForm" th:object="${monitoringForm}">
        <div class="naviArea">
            <div class="timeArea">
                <div class="nowTime">
                    <span id="nowTime"></span>
                    <input type="hidden" id="timeVal" th:field="*{searchDate}" />
                    <input type="button" class="btn btn-secondary btn-sm" id="searchButton" value="현재시간" />
                </div>
            </div>
        </div>

        <div class="alert alert-warning alert-dismissible fade show" id="alertArea" role="alert">
            <span id="alertContent"><strong>호우 주의보 발생 중!</strong> 본문내용</span>
        </div>

        <div id="resultArea" class="resultArea">
            <div id="mapArea" class="mapArea"></div>
        </div>
        <div class="blank"></div>
        <div id="loading" class="loading-bar"></div>
    </form>
</div>

</body>
</html>