<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/Monitoring.js}"></script>
    <title>모니터링 화면</title>
</head>
<body>

<div id="content" layout:fragment="content" class="container">
    <h3 id="title" th:text="${title}">테스트</h3>
    <div id="resultArea">
        <div style="width: 950px;" id="mychart" class="chartArea"></div>
        <div style="width: 950px; height: 200px;" id="histogram" class="chartArea"></div>
    </div>
    <div class="loading-bar" id="loading"></div>
</div>

</body>
</html>